.imgtmb{
	height:200px;
}

.legocolor{
	float:left;
	width:10px;
	height:10px;
}

.breadcrumb{
	padding-top:20px;
	border-radius: 0;
    border-bottom: solid 1px rgba(51, 122, 183, 0.1);
	background:none;
}

.bdy{
	padding:20px;
}

.page-header{
	padding-left:20px;
	padding-right:20px;
}

.legobox{
	box-shadow: rgba(187, 187, 187, 0.23) 8px 8px 1px;
}

.legoimg{
	height:250px;
}